<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.naruto.lib.common">
    <application>
        <activity
            android:name=".activity.TaskActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
    </application>
</manifest>